= {{name}}
:toc: true

A non-namespaced minimal working example using an external tokens
file.  Demonstrates use of Menhir and:

* link:https://github.com/obazl/rules_ocaml[rules_ocaml]
* link:https://github.com/obazl/tools_opam[tools_opam]
* link:https://github.com/obazl/rules_menhir[rules_menhir]

== Getting started

    cd {{name}}
    bazel test //... --build_tests_only

You'll see some messages the first time you build, while the extension configures a local opam switch; for example:

     Fetching module extension @@tools_opam+//extensions:opam.bzl%opam; Building @tools_opam//extensions/config
     Fetching ... @@tools_opam+//extensions:opam.bzl%opam; Creating local switch for compiler 5.3.0 at /path/to/obazl_hello 54s
    Fetching module extension @@tools_opam+//extensions:opam.bzl%opam; Installing pkg ounit2 (0 of 1) 15s

